.video-player {
display: flex;
flex-direction: column;
width: 800px;
height: 600px;
box-shadow: 0 0 15px rgba(0,0,0,3);
}
.video-player .screen {
flex: 1 2 100px;
}
.video-player .bottom-controls {
display: flex;
font-size: 20px;
background-color: black;

}
.video-player .bottom-controls .play-button {
font-size: 20px;
padding: 0px 4px 0px 4px;
width: 30px;
height: 30px;
border: none;
cursor: pointer;
color: white;
background-color: transparent;
}
.video-player .bottom-controls .pause-button {
padding: 0px 4px 0px 4px;
font-size: 20px;
width: 30px;
height: 30px;
border: none;
cursor: pointer;
color: white;
background-color: transparent;
}

.video-player .bottom-controls .volume-up-button {
padding: 0px 4px 0px 4px;
font-size: 20px;
width: 30px;
height: 30px;
border: none;
cursor: pointer;
color: white;
background-color: transparent;
}
.video-player .bottom-controls .volume-off-button {
padding: 0px 4px 0px 4px;
font-size: 20px;
width: 30px;
height: 30px;
border: none;
cursor: pointer;
color: white;
background-color: transparent;
}

.video-player .bottom-controls .buttons-space {
flex-grow: 6;
padding: 0px 4px 0px 4px;
font-size: 20px;
width: 30px;
height: 30px;
border: none;
cursor: pointer;
color: white;
background-color: transparent;
}
.video-player .bottom-controls .fullscreen-button {
padding: 0px 4px 0px 4px;
font-size: 20px;
width: 30px;
height: 30px;
border: none;
cursor: pointer;
color: white;
background-color: transparent;
}
.video-player .viewing-panel {
color: white;
}
.video-player .progress {
background-color: grey;
}
.video-player .progress .progress-slider {
background-color: red;
}