.video-player {
display: flex;
flex-direction: column;
width: 800px;
height: 600px;
box-shadow: 0 0 15px rgba(0,0,0,3);
}
.video-player .screen {
flex: 1 2 100px;
}
.video-player .bottom-controls {
display: flex;
align-items: center;
background-color: black;

}
.video-player .bottom-controls .control-button {
font-size: 20px;
width: 30px;
height: 30px;
border: none;
cursor: pointer;
color: white;
background-color: transparent;
}

.video-player .bottom-controls .buttons-space {
flex-grow: 6;
}

.video-player .viewing-panel {
color: white;
}

.video-player .progress {
background-color: grey;
}

.video-player .progress .progress-slider {
background-color: red;
}